/* Adapted from http://www.vanseodesign.com/css/simple-navigation-bar-with-css-and-xhtml/ */

ul#topmenu {
margin:0px;
padding:0;
list-style:none;
position:absolute;
top:0;
left:0;
width:875px;
}

ul#topmenu li {
display:inline
}

ul#topmenu li a {
text-decoration:none;
padding:5px 0;
width:175px;
background:#485e49;
color:#eee;
float:left;
text-align:center;
}

ul#topmenu li a:hover {
background:#a2b3a1;
color:#000;
}

body {
background-color:#ddeeee
}